<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">Synary</a></h1>
    <div class="user_nav grid-6">
      <a class="post" href="#">投稿する</a>
      <a class="signin" href="#">新規登録</a>
      <a class="login" href="#">ログイン</a>
      <a class="logout" href="#">ログアウト</a>
    </div>
  </div>
</header>