
          <div class="content_post">
            <%= link_to scenario_path(scenario.id),metod: :get do %>
              <%= image_tag scenario.image, class: "content_image" if scenario.image.attached? %>
            <% end %>
              <div class="content_title">
                <h3><%= scenario.title %></h3>
              </div>
          </div>