<%= render "shared/header" %>

  <div class="contents row">
      <h1 class="new_topic">- NEW TOPIC -</h1>
      <% @scenarios.each do |scenario| %>
        <%= render partial: "scenario", locals: { scenario: scenario} %>
        <% end %>
    </div>
