form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 2px solid #57C3E9;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto }

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.title,.tag{
  width:500%;
  height: 100%;
}

.hidden{
  width: 30%;
  height: 10%;
}

.container, .main_content{
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.contents_row{
  display: inline-flex;
  padding: 15px;
}

.content_post{
  margin: 10px;
}

.new_topic{
  font-size: 30px;
  text-align: center;
}

.content_image{
  width: 180px;
  height: 210px;
}

.tag_name{
display: inline-block;
margin: 0 .1em .6em 0;
padding: .6em;
line-height: 1;
text-decoration: none;
color: #666;
background-color: #fff;
border: 1px solid #666;
border-radius: 2em;
}


.success,.scenario_main{
  text-align: center;
}

.top_title{
  display:table;
  margin:0 auto;
  border: 1px solid #666;
  padding: 20px;
  font-size: 25px;
}

.top_image{
  padding-bottom: 10px;
}

.top_nickname{
 margin:20px 0;
}

.top_scenario{
  border: 1px solid #666;
  padding:20px;
  font-size: 18px;
}

.manage_btn{
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 3px #57C3E9 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.like_button{
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #84d3ef;
  border: #84d3ef solid 3px;
  border-radius: 30px;
  padding: 10px;
}

.like_count{
  position: absolute;
  background-color: #84d3ef;
  border: #84d3ef solid 3px;
  border-radius: 30px;
  padding: 5px 30px 5px 5px;
}

